.login{
    height: 100vh;
    background-color: rgb(193,190,255);
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        min-height:600px;
        width:50%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        
        .left{
            background:linear-gradient(rgba(48, 20, 48, 0.734),rgba(21, 6, 6, 0.319)
            ) ,url("../../images/login.jpeg") center;
            background-size: cover;
            flex:1;
            padding: 30px;
            display: flex;
            flex-direction:column;
            gap:10px;
            color: white;
            
            
            
            h1{
                font-size: 80px;
                line-height:80px;


            }
            p{
                
            }
            span{
                font-size:14px
            }
            button{
                width: 50%;
                padding:10px;
                border: none;
                background-color: white;
                color: purple;
                font-weight: bold;
                cursor: pointer;
            }

        }
        .right{
            padding: 30px;
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 20px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    border: none;
                    padding: 10px;
                    color: white;
                    background-color: rgb(132, 77, 132);
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            
        }
    }
}